<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Get Similar Words</title>

  {% load staticfiles %}
  <!-- Bootstrap core CSS -->
  <link href='{% static "css/bootstrap.css" %}' rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href='{% static "css/main.css" %}' rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <form id="doquery" class="form-signin" role="form">
          <h2 class="form-signin-heading">Get Similar Words</h2>
          <input id="word" class="form-control" placeholder="Word" required="" autofocus="true" type="text">
          <label class="checkbox">
            <input id="number" value="13" type="number"> Number of results
          </label>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Search</button>
        </form>
      </div>
      <div class="col-md-6">
        <h3>Results</h3>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Word</th>
              <th>cos(&Theta;)</th>
            </tr>
          </thead>
          <tbody id="result">
          </tbody>
        </table>
      </div>
    </div>

  </div> <!-- /container -->

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type='text/javascript' src='{% static "js/jquery-2.1.1.min.js" %}'></script>
  <script type='text/javascript' src='{% static "js/main.js" %}'></script>
  
</body>
</html>
