        html, body { width: 99%; height: 98%;}
        svg { width: 98%; height: 100%;}
        #sidebar {
           position:absolute;
           bottom:0;
           left:0;
           width:222px;
           height:580px;
           background:#e8e8e8;
           background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #E8E8E8 0%, #B0B0B0 100%);
           padding-right:10px;
        }
        .full {
          width: 100%;
        }
        #resultsbar {
           position:absolute;
           top:0;
           right:0;
           width:222px;
           height:auto;
           background:#e8e8e8;
           background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #E8E8E8 0%, #B0B0B0 100%);
           padding-right:10px;
        }
        #hid {
           position:absolute;
           top:0;
           left:0;
           height:27px;
           background:#e8e8e8;
        }
